/*-----------------test style--------------------------*/
body {
    font-family: 'microsoft yahei';
}

.info_box {
    float: inherit;
    min-height: 40px;
    background: #dff0d8 ;
    border-bottom: 3px solid #d6e9c6;
    text-align: center;
    line-height: 35px;
    color: #468847;
    margin: 10px auto !important;
    border-radius: 10px;
}
.info_box_2 {
    float: inherit;
    min-height: 40px;
    background: #f2dede ;
    border-bottom: 3px solid #eed3d7;
    text-align: center;
    line-height: 35px;
    color: #b94a48;
    margin: 0 auto !important;
    border-radius: 10px;
}
.box {
    height: 100px;
    min-height: 100px;
    background: #056e91;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    line-height: 100px;
    font-size: 25px;
    font-family: 'microsoft yahei';
}

.nav {
    height: 50px;
    min-height: 50px;
    background: #056e91;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 50px;
    font-size: 25px;
    font-family: 'microsoft yahei';
}


.test {
    font-family: 'microsoft yahei';
    color: #909090;
}

.box_inner {
    background: #6db0d3;
    height: 80px;
    line-height: 80px;
    min-height: 80px;
}

.bg_linear_1 {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background: -moz-linear-gradient(45deg,#020031 0,#6db0d3 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#020031),color-stop(100%,#6db0d3));
    background: -webkit-linear-gradient(45deg,#020031 0,#6db0d3 100%);
    background: -o-linear-gradient(45deg,#020031 0,#6db0d3 100%);
    background: -ms-linear-gradient(45deg,#020031 0,#6db0d3 100%);
    background: linear-gradient(45deg,#020031 0,#6db0d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6db0d3', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
}


/*-----------------test style end --------------------------*/

/*-----------------slide image --------------------------*/
.slideImage {
    width: 100%;
    /*min-height: 300px;*/
    margin: 0 auto;
    overflow: hidden;
    border: 1px #d0d0d0 solid;
    position: relative;
}

.imageList a {
    width:100%;
    height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/

    float: left;
}
.imageList img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    /*max-height: 100%;*/
}
.selectImg {
    position: absolute;
    width: 100%;
    height: 50px;
    background: #000;
    opacity: 0.3;
    -ms-filter: Alpha(Opacity=30);
    filter: Alpha(Opacity=30);
    z-index: 1000;
    bottom: 0;
    cursor: pointer;
}

.imgTitle {
    position: absolute;
    bottom: 0;
    line-height: 50px;
    z-index: 1001;
    color: #fff !important;
    text-align: center;
    margin-left: 10px;
}
.selectList  {
    position: absolute;
    bottom: 5px;
    margin: 0 auto;
    right: 20px;
    list-style-type: none;
    z-index: 1002;
    border:1px solid #fff;
    padding: 0;

}
.selectList li {
    padding: 0 10px;
    float: left;
    display: block;
    color: #fff;
    background:#a0a0a0;
    cursor: pointer;
}
.selectList  .cur {
    background: #e0e0e0;
}

.slide_click {
    position: absolute;
    z-index: 1002;
    width: 50px;
    height: 50px;
    background: #fff;
    opacity: 0.5;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;

}
.slide_pre {
    left: 5%;
    top: 40%;

}

.slide_next {
    right: 5%;
    top: 40%;

}
/*-----------------slide image end --------------------------*/